// Define variables for your color scheme

$orange: #EE6C4D;
$light-blue: #ECF8F8;
$blue: #C5F8F8;
$blue2: #80c5c5f5;
$dark-blue: #293241;
$pink: #FDE3DD;
$dark-pink: #FACCC2;
$gray: #F2F2F2;
$yellow: #FFF2CC;
$dark-yellow: #FFF2A1;

// For example:
$red: #FD1015;
$green: #1EDD88;
$light-gray: #F4F4F4;
