<div class="container" my-3>
  <div>
  <br>
  <h3><i class="far fa-star"></i> Nos matchs</h3>
  <hr>
  <% @matches.each do |match| %>
  <div class="fav-cards <%= match.name.gender %>-fav-cards">
    <div class="fav-content">
      <%= match.name.name.capitalize %>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <% end %>
  </div>
  <div class="footer-names"><%= link_to 'Plus de swipe', names_path, class: 'btn btn-form' %>
  </div>
</div>
