.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.circle-btn {
  border-radius: 50%;
  width: 73px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 0 7px rgba(0,0,0,0.1);
  background-color: white;
  margin: 5%;
  border: 1px solid lightgray;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}

.circle-btn-like > i {
  color: $green;
}

.circle-btn-dislike > i {
  color: $red;
}

// .infos-btn {
//   background-color: $dark-yellow;
// }
.infos-btn {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  justify-content: center;
  height: 8%;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: $blue2;
  font-size: xx-large;
  font-weight: bolder;
  padding-bottom: 10%;
}

.back-btn {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  // background-color: $blue2;
  justify-content: center;
  height: 8%;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: $blue2;
  font-size: xx-large;
  font-weight: bolder;
  padding-bottom: 10%;
}

.btn-boy {
  color: $blue2;
}

.btn-girl {
  color: $dark-pink;
}

.btn-unisex {
  color: black;
  opacity: 0.33;
}

.btn-form {
  margin-top: 10px;
  background-color: $orange;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  width: 100%;
  letter-spacing: 2px;
}

// .btn-form:hover {
//   background-color: white;
//   border-color: $orange;
//   color: $orange;
// }


.shared_links a {
  color: gray !important;
  font-size: 12px;

}
