.cards-container{
  display: flex;
  justify-content: space-around;
  height: 50vh;
}

.name-cards {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  offset-multiplier: 4px;
  height: 100%;
  margin-top: 5%;
  padding: 5%;
}

.mixed-card {
  background-color: $yellow;
  width: 80%;
  border-radius: 7px;
}

.first-name {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.last-name {
  text-align: center;
  font-size: large;
}

.text-name {
  display: block;
}