.cards-container{
  display: flex;
  justify-content: space-around;
  height: 70vh;
}

.name-cards {
  // offset-multiplier: 4px;
  height: 100%;
  margin-top: 5%;
  position: relative;
  width: 80%;
  // overflow: hidden;
}

.mixed-card {
  background-color: $yellow;
}

.garçon-card {
  background-color: $blue;
}

.fille-card {
  background-color: $pink;
}

.unisex-card {
  background-color: $yellow;
}

.first-name {
  text-align: center;
  font-weight: bold;
  font-size: xxx-large;
}

.last-name {
  text-align: center;
  font-size: x-large;
}

.name-text {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 0;
}

.name-back-card {
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.name-infos {
  padding: 10%;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-action {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 7px;
}

// /* Style the front side (fallback if image is missing) */
// .flip-card-front {
//   background-color: #bbb;
//   color: black;
// }

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
