.form-check-label{
  border-color: $orange !important;
  border-radius: 6px !important;
  font-size: 16px !important;
}

.toggle {
  position: right;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $orange;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}
// ou input.is-valid
.toggle.is-valid + label.form-check-label{
  color: $dark-blue !important;
}

.form-filters .form-group {
  display: flex;
  align-items: center;
}

// Text align left for label

.size-label {
  width: 40%;
}

// Checkboxes designed like pills

.wrapper-tags {
  display: block
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: $orange;
  border: 1px solid $orange;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $pink;
  color: $dark-blue;
  font-weight: bold;
}

#new_filter > fieldset.form-group.check_boxes.optional.filter_astrology,
#new_filter > fieldset.form-group.check_boxes.optional.filter_length,
#new_filter > fieldset.form-group.check_boxes.optional.filter_origin,
#new_filter > fieldset.form-group.check_boxes.optional.filter_popularity
{
  display: inline-block
}

// Dynamic rich radio buttons

.gender-wrapper {
  display: flex;
  justify-content: space-between;
  width:50%;
  // flex-wrap: wrap;
}

.gender-item {
  flex: 0 0 30%;
}

.gender-selector {
  position: absolute;
  transform: scale(0);
}

.gender-selector + label {
  text-align: center;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  padding: 0px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.gender-selector:checked + label {
  color: $dark-blue !important;
  background-color: $pink;
  font-weight: bold;
}


#snippet_gender_all + label {
  color: #FD1015;
}

#snippet_gender_all:checked + label {
  background-color: $yellow;
  border-color: $yellow;
}


#snippet_gender_girl + label {
  color: $dark-pink;
}

#snippet_gender_girl:checked + label {
  background-color: $dark-pink;
  border-color: $dark-pink;
}


#snippet_gender_boy + label {
  color: $orange;
}

#snippet_gender_boy:checked + label {
  background-color: $orange;
  border-color: $orange;
}

// profile form selector
#inputCode {
  background-color: $gray;
  color: $form-gray !important;
  width: 100%;
  height: 63px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
}
