.show {
  display: block;
  margin-top: 17%;
  background-color: rgba(255,255,255,0.7);
}

.match p {
  font-weight: bold;
  color: $orange;
}

.modal-body p {
  text-align: center;
  font-size: 3vh;
}

.modal-content {
  justify-content: center;
  height: 85vh;
}

.modal-body {
  flex: 0;
  z-index: 2;
}

.modal-footer {
  border-top: 0;
}

.modal-content .close {
  position: absolute;
  top: 1px;
  right: 5px;
}

.card-category {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.name-disclaim {
  animation: none!important;
}

.nameimage {
  position: absolute;
  animation: beat 3s infinite alternate;
  width: 94%;
  z-index: 1;
}

@keyframes beat{
  to { transform: scale(1.06); }
}
