.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
.nav-item {
  text-align: right;
}

.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
.nav-item:hover {
  color: $orange;
  text-decoration: none;
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  color: none;
  border-color: white;
}

