.navbar-lewagon {
  justify-content: space-between;
  background: white;
  //box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  // z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  position: fixed;
  inset: 66px 0px 0px;
  z-index: 1;
  background-color: white;
  transform: translateX(0%);
  transition: transform 0.3s ease;
  height: calc(100vh - 66px) !important;
}

.collapse:not(.show) {
    display: block;
    transform: translateX(100%);
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
.nav-item {
  color: $dark-blue;
  // text-align: center;
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nav-item a {
  color: $dark-blue;
}

.nav-item a:hover {
  color: $orange;
  text-decoration: none;
  font-weight: bold;
}

.nav-item i {
  margin-right: 15px;
  font-size: 22px;
}

.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=EE6C4D');
}

.navbar-light .navbar-toggler {
  color: none;
  border-color: white;
}

.text-logo {
  color: $dark-blue;
  font-size: 24px;
  font-weight: bold;
}

button:focus {
    outline: none!important;
  }
