// Design titles
h3 {
  text-align: center;
  font-size: 25px;
  color: $dark-blue;
}

// Text design on the profil page
.name-profile {
  font-size: 20px !important;
  font-weight: bold;
  text-align: center;
}

#emailHelp{
  color: $form-gray;
  text-align: center;
}
