// Design titles
h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: $orange;
}

// .group-info {
//   border: 0.5px solid $form-gray;
//   border-radius: 4px;
//   padding: 5px;
// }
.groupe-info small {
  font-weight: bold;
}

.text-center input {
  text-align: center;
}

// Text design on the profil page
.my-name-profile {
  font-size: 25px !important;
  color: $orange;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.name-profile {
  font-size: 20px !important;
  font-weight: bold;
  text-align: center;
}

#emailHelp{
  color: $form-gray;
  text-align: center;
}
